/* 移除 HTML 和 body 的默认间距 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 防止出现滚动条 */
}

/* 设置背景样式到全局 */
body {
  background-image: url('/public/background.svg'); /* 替换为你的背景图片路径 */
  background-size: cover; /* 背景图完全覆盖视口 */
  background-repeat: no-repeat; /* 防止重复 */
  background-position: center; /* 居中对齐 */
}

/* App 样式 */
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* App-header 样式 */
.App-header {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

